@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,regular,500,600,700);
.course {
  &Header {
    background-image: linear-gradient(
      120deg,
      rgba(26, 33, 64, 1) 10.9%,
      rgb(87, 90, 139) 87.1%
    );
    margin: 30px 0px;
    padding: 15px 0px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    margin-top: 100px;

    &Image {
      width: 100%;
      text-align: center;
    }
  }

  &Title {
    font-size: 22px;
    font-family: Comfortaa;
    margin-bottom: 10px;
  }

  &Duration {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
  }

  &Img {
    width: 140px;
    height: 110px;
    position: absolute;
    top: 0;
    margin: 0 auto;
    transform: translateX(-70px);
    z-index: -1;
  }

  &Block {
    text-align: center;
  }

  &Video {
    width: 100%;
    margin: 0 auto;
    iframe {
      border: 0;
      width: 100%;
      height: 215px;
    }
  }

  &Btn {
    width: 80%;
    background: #ffe100;
    color: #000;
    padding: 12px 20px;
    border-radius:  15px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
  }

  &Descr {
    margin-top: 40px;
    padding: 25px 20px;
    border-radius: 20px;
    color: #000;
    font-size: 16px;
    line-height: 1.1;
    color: #fff;
    text-align: left;
    font-family: nunito;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-image: linear-gradient(to top, #1763e6 0%, #04befe 100%);
    span {
      font-size: 18px;
      font-weight: 700;
    }
  }
}
